cnf('../../../conjectures/TPTP-v6.4.0/Problems/SYN/SYN726+1.p',conjecture,[[q(f_skolem(3),f_skolem(4))],[p(f_skolem(1),f_skolem(2))],[-(p(_192,_196)),p(_192,_194),p(_194,_196)],[-(q(_276,_280)),q(_276,_278),q(_278,_280)],[q(_360,_362),-(q(_362,_360))],[-(p(_418,_430)),-(q(_418,_430))]]).